
/* Colors used for this website are - 

#5282FA brand blue
#131E3B dark blue
#28407A navy blue
#FAB330 mustard

Font-pairing is -

{font-family: “Abril Fatface”, sans-serif;}
{font-family: “Poppins”, sans-serif;}

*/


/* GENERAL PAGE STYLING */

body {
    background-color: #FAB330;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: "Abril Fatface", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #131E3B;
}

h2 {
    font-family: "Abril Fatface", sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #131E3B;    
}

h3 {
    font-family: "Abril Fatface", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #131E3B;  
}

h4 {
    font-family: "Abril Fatface", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #131E3B;   
}

h5 {
    font-family: "Abril Fatface", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #131E3B;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight:400;
    color: #131E3B;  
}

/* HEADER STYLING */

.header {
    display: flex;
    flex-direction: column;
    background-color: #FAB330;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.logo {
    align-self: center;
    text-align: center;
    width: 500px;
    padding: 0px;
    margin: 0px; 
    /* border: 3px dashed red;    */
}

.logo img {
    width: 80%;
    margin: 20px 0px 30px 0px; 
    /* border: 10px dotted purple;    */
}

.top-logo {
    width: 100%;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid black; */
}

.nav {
    border: 0px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.nav-bar {
    border: 0px;
    list-style-type: none;
    margin: 0px 0px 15px 0px;
    padding: 0px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

.nav li {
    display: inline-block;
}

.nav a { 
    display: inline-block;
    padding: 0px 60px;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: white;
    text-decoration: none;

}

/*  this makes the page */
.active {
    display: inline-block;
    padding: 0px 60px;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #5282FA;
    text-decoration: none;  
}

/* this makes the link in the nav bar change color when hovering */
li a:hover {
    color: #5282FA
    ;
  }

/* this makes the blue line under nav bar */
.header span {
width: 100%;
height: 4px; /* change this to make line thicker */
background-color: #5282FA;
}

/* MAIN BODY STYLING */

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

  /* this makes the blue line across page */
.main span {
    width: 100%;
    height: 4px; /* change this to make line thicker */
    background-color: #5282FA;
}

.section1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
} /* made section1 a flexbox to solve the problem of a thin gap under image showing background color of page - now no gap */

.banner {
    width: 100%;
}

.section2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: #FFFFFF; */
    background-color: #FAB330;
    margin: 0px 0px 0px 0px;
    padding: 0px 300px 40px 300px;
}
.section2 p {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

.section3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:white;
    margin: 0px 0px 0px 0px;
}

.section3 q {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
}

.country-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 30px 0px;
  }

  .country-cards a {
    text-decoration: none;
    color: #131E3B;
    margin: 0px;
    padding: 0px; 
  }

  .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid #131E3B;
    background-color: white;
    text-align: center;
    margin: 10px 30px;
    padding: 4px;
    border-radius: .30rem;
  }

  .card img {
      border: 1px solid black;
  }

  .card-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 30px 25px 31px;
    margin: 0px 0px 0px 0px;
  }

  .card-text h4 {
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 0px;    
  }

  .card-text ul {
    list-style-type: circle;
    margin: 10px 0px 0px 20px;
    padding: 0px;    
  }

/* FOOTER STYLING */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #FAB330;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
}

/* creates the blue line at top of footer */
.footer span {
    width: 100%;
    height: 4px; /* change this to make line thicker */
    background-color: #5282FA;
}

.section4 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px 40px;
}

.col1 {
  align-self: center;
  text-align: center;
  margin-left: 20px;  
}

.col2 {
    align-self: flex-end;
}

.col3 {
    align-self: center;
    margin-right: 20px;
}

.bottom-logo {
    width: 200px;
}

.address {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 1; 
    text-align: center; 
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 0px;  
}

.address h5 {
    /* color: white;
    font-size: 18px;
    font-weight: 700; */
    color: white;
    margin: 0px;
}

/* horizontal line and copyright info */

hr {
    margin: 0px 0px;
    padding: 0px 0px;
}

.col2 p {
    color: white;
    font-size: 14px;
}

/* SUBSCRIPTION BUTTON STYLING */

.buttonIn {
width: 250px;
margin: 0px 0px 0px 10px;
position: relative;
} 

input {
margin: 0px;
padding: 0px;
width: 100%;
outline: none;
height: 45px;
border: 0px;
border-radius: 50px;
box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.188);
}

.subscribe-btn {
position: absolute;
top: 0;
border-radius: 50px;
right: 0px;
border: none;
width: 85px;
height: 45px;
cursor: pointer;
font-family: "Poppins", sans-serif;
font-size: 20px;
font-weight: 900;
color: white;
background-color: transparent;
transform: translateX(2px);
background-color: #5282FA; 
background-size: 80px;
}

/* this sections starts styles added for country.html */

.cities-col {
    list-style-type: none;
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 0px 0px;
    font-size: 18px;
}

.landmarks-col {
    list-style-type: none;
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 0px 0px;
    font-size: 18px;
}

.celebs-col {
    list-style-type: none;
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 0px 0px;
    font-size: 18px;
}