
h1.a {font-family: “Poppins”, sans-serif;}
h1.b {font-family: “Abril Fatface”, sans-serif;}


body {
margin: 0px;
padding: 0px;
}

h1 {

}

h2 {
    
}

h3 {
    
}

h4 {
    
}

h5 {
    
}

p {

}

.logo {
    
}

.nav{

}

.header{

}

.main{

}

.section1{

}

.section2{

}

.section3{

}

.footer {

}